
*{
  box-sizing: border-box;
}

html {

  height: 100%;  
  background-color: #BDCA62;
  animation: mymove 7s infinite;
}

@keyframes mymove {
   50% {background-color: #E9F49F;
  }
}

header {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  background-color: cadetblue;
  border-radius: 25px;
}
header img{

  float: left;
  margin: 20px 0px 0px 20px;  
  width: 30%;
  border: solid 2px black;
  border-radius: 100px 10px;
}

header nav ul{
  list-style-type: none;
  float: right;
  width: auto;
  clear: left;
  margin-bottom: 0;
  margin-right: 2em;
  
}

header nav ul li {
  
  display: inline-block;  
  line-height: 1.5em;
  border: solid 2px black; 
  border-radius: 10px 10px 0px 0px;
  padding: .5em;
  margin-left: -.25em;
  background: radial-gradient( seagreen, darkgreen);
}

a {

  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Faster One', cursive;
  color: aquamarine;
}

/* nav ul li :hover{
  background-color: gray;
  color: white;
} */

.cardsection {

  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.card {
  width: 23%;
  border: solid 5px black;
  display: inline-block;
  margin-top: 1em;;
  border-radius: 25px;
  overflow:hidden;
  width: auto;
}
.card img{
  border-radius: 50%;
  width:100%;
  padding: .25em;
}

section div header {

  background: cadetblue;
  border-radius: 0px;
}

footer {

  text-align: center;
  margin-top: 3em;
}

#anthony {

  width: 300px;
  height: 300px;
}

#timea {

  width: 300px;
  height: 300px;
}




