
/* html {

  height: 100%;
  background-color: #BDCA62;
  animation: mymove 10s infinite;
}

@keyframes mymove {
   50% {background-color: #E9F49F;
  }
} */



header img {

  width: 300px;
  margin: 50px;
  border: solid 2px black;
  border-radius: 50px 15px;

}


h1 {

  font-family: 'Faster One', cursive;
  text-align: center;
  text-decoration-style: double;
  font-size: 5em;
  color: rgb(175, 25, 57);
  
}

p {

  font-family: 'Share', cursive;
  font-size: 3em;
  text-align: center;
}

