*{
  box-sizing: border-box;
}
html{

  height: 100%;  
  background-color: #BDCA62;
  animation: mymove 10s infinite;
}

@keyframes mymove {
   50% {background-color: #E9F49F;
  }
}

body {

  width: 80%;
  margin: auto;
  margin-top: 20px;
}

ul{
  text-align: center;
}
ul li{

  display: inline-block;
  text-decoration: none;
}
#map {
  width: 100%;
  max-height: 200px;
}
#resource-list {
  max-width: 25%;
  border: 2px solid black;
  padding-left: 2em;
  padding-right: 2em;
  background-color:#73B190;
  font-weight: bold;
  float: left;
}
p {
  text-align: center;
  border: 1px black solid;
  border-radius: 25px;
  background-color: #00391A;
  color: white;
  font-size: x-large;
  font-family: sans-serif;
  padding: 1em;
  line-height: 1.25em;
}
#options {
  height: 100%;
  padding: 1em;
  text-align: center;
  width: 70%;
  display: inline-block;
  }
#button-list{
 float: left;
}

button {
  padding: 1.25em;
  border-radius: 10px;
  background:linear-gradient(#426F10, #d0f095);  
  font-weight:bold;
  margin: .5em;
}
button:hover {
    background:linear-gradient( #d0f095,#426F10);  
    cursor: pointer;
}
a{
  padding: .5em;
}
a:hover{
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
}

.deck{
  background-color: #47936A;
  text-align: center;
  padding: .9em;
  border: 2px solid #21332E;
  margin: 0;
  border-radius: 25px;
  font-family: sans-serif;
  font-size: larger;
  color: black;
}

.card {
  text-align: center;
  display: inline-block;
  position: relative;
  height: 100%;

}

footer {
  margin-top: 3em;
}
/* index page */
#logo {

  width: 50%;
  border: solid 2px black;
  border-radius: 100px 10px;
}
/* #index-header {

} */
#index-nav {
  text-align: right;
  overflow: hidden;
}
header nav ul{
  list-style-type: none;
  float: right;
  width: auto;
  clear: left;
  margin-bottom: 0;
  margin-right: 2em; 
}

header nav ul li {

  display: inline-block;
  line-height: 2em;
  border: solid 2px black; 
  border-radius: 25px 25px 0px 0px;
  padding: .5em;
  margin-left: -.25em;
  background: radial-gradient( seagreen, darkgreen);
  font-weight: bold;

}
nav ul li:hover{
  background-color: gray;
  color: white;
}
main {
  text-align: center;
  background-color: seagreen;
  padding: 3em;
  color: white;
  font-weight: bold;
}

alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
